body {
    background-color: white;
    text-align: center;
    font-family: monospace;
}

.state-text {
    position: relative;
    font-size: 24px;
}

#text-area {
    position: relative;
    top: 30px;
}