body {
    background-color: white;
    text-align: center;
    font-family: monospace;
}

.state-text {
    position: relative;
    font-size: 24px;
}

#text-area {
    position: relative;
    top: 30px;
}

.chart-div {
    position: relative;
    top: 20px;
    margin-bottom: 50px;
}

h3{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.tooltip {
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-family: monospace;
    padding: 10px;
    border-radius: 10px;
}

.xAxis {
    font-size: 12px;
    /*font-family: monospace;*/
}

#selector-div {
    position: fixed;
    /*margin-left: 5%;*/
    height: 100%;
    z-index: 1;
    width: 18%;
}

a {
    color: black;
}

button {
    border-radius: 5px;
}

i {
    width: 25px;
}

#legend {
    margin-top: 20px;
}

#arrow-div button {
    padding: 5px;
}

#arrow-div {
    position: fixed;
    left: 95%;
    top: 90%;
    height: 100%;
}

#barchart-area {
    margin-left: 10%;
}